# 处理数据

In [3]:
import pandas as pd
import numpy as np

## 1、kkb_commodity 商品表

In [14]:
kkb_commodity = pd.read_csv('./kkb_commodity.csv',encoding='utf-8')

# 添加列索引
kkb_commodity.columns = ['sp_type','sp_id', 'sp_name','sp_sku','sp_spu','price','purch_price',
                         'sales_status','online_date','offline_date','online_operator','offline_operator','event_day']
                         
kkb_commodity.tail()

,sp_type,sp_id,sp_name,sp_sku,sp_spu,price,purch_price,sales_status,online_date,offline_date,online_operator,offline_operator,event_day
4564645,男装,sp_17197,吉普JEEP 休闲裤,100016567036,1.000166e+11,267.0,213.6,-1,无,无,zhangsan@blingbling.com,zhangsan@blingbling.com,2020-03-31
4564646,奢侈品,sp_35234,FILA斐乐,47341172766,1.969553e+09,168.0,134.4,-1,无,无,zhangsan@blingbling.com,zhangsan@blingbling.com,2020-03-31
4564647,家装,sp_39837,涵英阁 沙发背景墙客厅装饰画小清新客厅壁画卧室挂画绿植三联画现代简约玄关餐厅墙画 绿色心情0...,69557167937,1.159220e+10,888.0,710.4,-1,无,无,zhangsan@blingbling.com,zhangsan@blingbling.com,2020-03-31
4564648,爱车,sp_45302,哈姆雷特（Hamlet）手喷镀膜剂汽车纳米镀膜剂水晶镀膜车漆上光液体玻璃喷雾新车漆面用品 手...,41242338419,1.041597e+10,88.0,70.4,-1,无,无,zhangsan@blingbling.com,zhangsan@blingbling.com,2020-03-31
4564649,乐器,sp_38919,hluru鲁儒华蜀空灵鼓13音15音专业级色空鼓空明鼔手碟钢舌鼓初学者小众易学莲花鼓,10025178726535,1.002057e+13,229.0,183.2,-1,无,无,zhangsan@blingbling.com,zhangsan@blingbling.com,2020-03-31

In [12]:
kkb_commodity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4564650 entries, 0 to 4564649
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   sp_type           object
 1   sp_id             object
 2   sp_name           object
 3   sp_sku            int64
 4   sp_spu            float64
 5   price             float64
 6   purch_price       float64
 7   sales_status      int64
 8   online_date       object
 9   offline_date      object
 10  online_operator   object
 11  offline_operator  object
 12  event_day         object
dtypes: float64(3), int64(2), object(8)
memory usage: 452.7+ MB

In [13]:
kkb_commodity.describe()

             sp_sku        sp_spu         price   purch_price  sales_status
count  4.564650e+06  4.464459e+06  4.564650e+06  4.564650e+06  4.564650e+06
mean   2.558979e+12  2.230341e+12  8.455908e+02  6.764727e+02  3.309126e-03
std    4.321852e+12  4.136339e+12  5.740172e+03  4.592138e+03  1.254673e+00
min    1.107150e+05  0.000000e+00  4.500000e-01  3.600000e-01 -2.000000e+00
25%    4.180764e+10  1.190616e+10  5.300000e+01  4.240000e+01 -1.000000e+00
50%    7.084377e+10  1.448380e+10  1.388000e+02  1.110400e+02  1.000000e+00
75%    1.002003e+13  1.000157e+11  4.590000e+02  3.672000e+02  1.000000e+00
max    1.002660e+13  1.002069e+13  1.000000e+06  8.000000e+05  1.000000e+00

In [19]:
# 转换日期格式
kkb_commodity['event_day'] = pd.to_datetime(kkb_commodity.event_day,format='%Y-%m-%d')

# 选取2020-01-01至2020-01-07 之间的数据
df = kkb_commodity.query('event_day >= "2020-01-01" and event_day<= "2020-01-07"')

df.to_csv('./kkb_commodity_2020-01-1to7.csv',encoding='utf-8',index=False)

df.tail()

,sp_type,sp_id,sp_name,sp_sku,sp_spu,price,purch_price,sales_status,online_date,offline_date,online_operator,offline_operator,event_day
351121,男装,sp_17197,吉普JEEP 休闲裤,100016567036,1.000166e+11,267.0,213.6,-1,无,无,zhangsan@blingbling.com,zhangsan@blingbling.com,2020-01-07
351122,奢侈品,sp_35234,FILA斐乐,47341172766,1.969553e+09,168.0,134.4,-1,无,无,zhangsan@blingbling.com,zhangsan@blingbling.com,2020-01-07
351123,家装,sp_39837,涵英阁 沙发背景墙客厅装饰画小清新客厅壁画卧室挂画绿植三联画现代简约玄关餐厅墙画 绿色心情0...,69557167937,1.159220e+10,888.0,710.4,-1,无,无,zhangsan@blingbling.com,zhangsan@blingbling.com,2020-01-07
351124,爱车,sp_45302,哈姆雷特（Hamlet）手喷镀膜剂汽车纳米镀膜剂水晶镀膜车漆上光液体玻璃喷雾新车漆面用品 手...,41242338419,1.041597e+10,88.0,70.4,-1,无,无,zhangsan@blingbling.com,zhangsan@blingbling.com,2020-01-07
351125,乐器,sp_38919,hluru鲁儒华蜀空灵鼓13音15音专业级色空鼓空明鼔手碟钢舌鼓初学者小众易学莲花鼓,10025178726535,1.002057e+13,229.0,183.2,-1,无,无,zhangsan@blingbling.com,zhangsan@blingbling.com,2020-01-07

## 2、kkb_brand 品牌表

In [35]:
kkb_brand = pd.read_csv('./kkb_brand.csv',encoding='gbk')
kkb_brand.tail()

,品牌,商品ID,product_name
50217,其他,sp_39837,涵英阁 沙发背景墙客厅装饰画小清新客厅壁画卧室挂画绿植三联画现代简约玄关餐厅墙画 绿色心情0...
50218,振德（ZHENDE）,sp_20546,振德（ZHENDE）医用脱脂大纱布卷 棉纱绷带 包扎敷料束缚带婴儿尿布 自行裁剪尺寸 10g...
50219,哈姆雷特（Hamlet）,sp_45302,哈姆雷特（Hamlet）手喷镀膜剂汽车纳米镀膜剂水晶镀膜车漆上光液体玻璃喷雾新车漆面用品 手...
50220,其他,sp_25790,乐扣乐扣乳胶坐垫椅子
50221,hluru,sp_38919,hluru鲁儒华蜀空灵鼓13音15音专业级色空鼓空明鼔手碟钢舌鼓初学者小众易学莲花鼓

In [37]:
# 修改列名
kkb_brand.rename(columns={'品牌':'sp_brand','商品ID':'sp_id'})

,sp_brand,sp_id,product_name
0,毛衣,sp_17279,京笙记毛衣
1,其他,sp_10269,倍量 充电电池 5号/7号电池 配12节电池充电器套装 【5号7号任配】
2,其他,sp_25509,豆豆象2200玩具车抖音同款360°炫技合金遥控
3,零趣,sp_4477,零趣日式小圆饼 500g整箱 咸香薄脆海盐饼干小零
4,其他,sp_33501,合寅职员
...,...,...,...
50217,其他,sp_39837,涵英阁 沙发背景墙客厅装饰画小清新客厅壁画卧室挂画绿植三联画现代简约玄关餐厅墙画 绿色心情0...
50218,振德（ZHENDE）,sp_20546,振德（ZHENDE）医用脱脂大纱布卷 棉纱绷带 包扎敷料束缚带婴儿尿布 自行裁剪尺寸 10g...
50219,哈姆雷特（Hamlet）,sp_45302,哈姆雷特（Hamlet）手喷镀膜剂汽车纳米镀膜剂水晶镀膜车漆上光液体玻璃喷雾新车漆面用品 手...
50220,其他,sp_25790,乐扣乐扣乳胶坐垫椅子
50221,hluru,sp_38919,hluru鲁儒华蜀空灵鼓13音15音专业级色空鼓空明鼔手碟钢舌鼓初学者小众易学莲花鼓

## 3、kkb_users 用户表

In [12]:
kkb_users = pd.read_csv('./kkb_users.csv',encoding='utf-8')

# 添加列索引
kkb_users.columns = ['user_id','user_name','chann_id','city_id','system','imei',
                     'age','phonenum','sex','createtime','platform']

kkb_users.tail()

,user_id,user_name,chann_id,city_id,system,imei,age,phonenum,sex,createtime,platform
578109,10578111,杨红梅ZCCdM2512,platform_02,city0519,PC,872947166446648,32,136****4580,女,1609428544755,PC
578110,10578112,杨桂兰DHDyOG7244,platform_02,city0184,IOS,873182221202423,50,139****7722,女,1609428841776,APP
578111,10578113,白晨fqbs1809,search_03,city0320,IOS,878654013768685,43,184****5219,女,1609429105273,APP
578112,10578114,郭凤英Dx1125,guide_01,city0273,Others,874232410600825,40,176****8291,女,1609429347171,APP
578113,10578115,路阳Q4241,search_02,city0283,PC,876006402040875,30,150****8535,女,1609429824841,PC

## 4、user_action 用户行为表

In [6]:
user_action = pd.read_csv('./user_action_2020-01-1to7.csv',encoding='utf-8',error_bad_lines=False)

# 添加列索引
user_action.columns=['user_id','page','behavior_type','sp_id','time','session']

user_action.head()

,user_id,page,behavior_type,sp_id,time,session
0,10111119,5,提交订单,'SP_183'/'SP_708',2020-01-01 21:47:38,3f7d6f552b7d469d9a0201f6a1ca41bc
1,10111119,6,支付,'SP_183'/'SP_708',2020-01-01 21:50:48,3f7d6f552b7d469d9a0201f6a1ca41bc
2,10028611,1,浏览,NaN,2020-01-01 17:21:08,4a811658a20f4f9eba10f4e927880592
3,10028611,5,提交订单,'SP_530'/'SP_461',2020-01-01 17:21:09,4a811658a20f4f9eba10f4e927880592
4,10028611,6,支付,'SP_530'/'SP_461',2020-01-01 17:23:12,4a811658a20f4f9eba10f4e927880592

In [5]:
user_action.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2943792 entries, 0 to 2943791
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   user_id        int64
 1   page           int64
 2   behavior_type  object
 3   sp_id          object
 4   time           object
 5   session        object
dtypes: int64(2), object(4)
memory usage: 134.8+ MB

In [7]:
user_action.describe()

            user_id          page
count  2.943792e+06  2.943792e+06
mean   1.006154e+07  2.112423e+00
std    3.559546e+04  1.388670e+00
min    1.000000e+07  1.000000e+00
25%    1.003079e+07  1.000000e+00
50%    1.006141e+07  2.000000e+00
75%    1.009236e+07  3.000000e+00
max    1.012613e+07  6.000000e+00

## 5、chann_info表

In [22]:
chann_info = pd.read_csv('./chann_info.csv')

# 添加列索引
chann_info.columns=['chann_id','chann_name']

chann_info.head()

    chann_id chann_name
0   guide_02      360导航
1   guide_03       搜狗导航
2  search_01      百度关键词
3  search_02       百度联盟
4  search_03       百度橱窗

## 6、first_order 首单表

In [8]:
first_order = pd.read_csv('./first_order.csv',encoding='utf-8')

# 添加列索引
first_order.columns=['user_id','register_time','order_date','par_id','chil_id','sp_id','price','sp_num','succ_amount']

first_order.tail()

,user_id,register_time,order_date,par_id,chil_id,sp_id,price,sp_num,succ_amount
445643,10575968,2020-12-26 14:12:27,2020-12-30,KKB20201230-722,KKB20201230-722-1,sp_36987,18.0,1,18.0
445644,10576069,2020-12-26 20:18:04,2020-12-31,KKB20201231-463,KKB20201231-463-1,sp_34241,4369.0,1,4369.0
445645,10576133,2020-12-26 23:47:59,2020-12-28,KKB20201228-1075,KKB20201228-1075-3,sp_28545,99.0,1,99.0
445646,10576882,2020-12-28 13:40:46,2020-12-31,KKB20201231-891,KKB20201231-891-1,sp_44073,129.0,1,129.0
445647,10576963,2020-12-28 17:30:14,2020-12-31,KKB20201231-870,KKB20201231-870-2,sp_27838,39.0,1,39.0

## 7、kkb_order 订单表

In [10]:
kkb_order = pd.read_csv('./kkb_order.csv',encoding='utf-8')

# 添加列索引
kkb_order.columns=['par_id','chil_id','sp_id','price','sp_num','order_date','succ_amount','order_status','user_id']

kkb_order.head()

,par_id,chil_id,sp_id,price,sp_num,order_date,succ_amount,order_status,user_id
0,KKB20200101-1,KKB20200101-1-2,sp_3710,19.9,1,2020-01-01,19.9,订单完成,10156188
1,KKB20200101-1,KKB20200101-1-3,sp_13609,69.9,1,2020-01-01,69.9,订单完成,10156188
2,KKB20200101-1,KKB20200101-1-4,sp_17632,5100.0,1,2020-01-01,5100.0,订单完成,10156188
3,KKB20200101-1,KKB20200101-1-5,sp_20970,92.0,1,2020-01-01,92.0,订单完成,10156188
4,KKB20200101-10,KKB20200101-10-1,sp_38059,29.0,1,2020-01-01,29.0,订单完成,10235253

In [11]:
kkb_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537384 entries, 0 to 537383
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   par_id        537384 non-null  object
 1   chil_id       537384 non-null  object
 2   sp_id         537384 non-null  object
 3   price         537384 non-null  float64
 4   sp_num        537384 non-null  int64
 5   order_date    537384 non-null  object
 6   succ_amount   537384 non-null  float64
 7   order_status  537384 non-null  object
 8   user_id       537384 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 36.9+ MB

## 8、kkb_promotion 运营活动表

In [41]:
kkb_promotion = pd.read_excel('./kkb_promotion.xlsx')

# 添加列索引
kkb_promotion.columns=['prom_id','prom_name','start_date','end_date','ready_money','sp_id','respon_name',
               'prom_type','chann_id','place_position','discount_type','discount_amount']

kkb_promotion.tail()

,prom_id,prom_name,start_date,end_date,ready_money,sp_id,respon_name,prom_type,chann_id,place_position,discount_type,discount_amount
2918,ACTIVE_025,928KKB会员日 狂欢开启 放肆HIGH购,2020-09-28,2020-09-28,120000,p146,郭旭,促活,search_02,轮播图,1元特价秒(支付邮费+1元，即可获得商品，每个用户id限购1件),NaN
2919,ACTIVE_025,928KKB会员日 狂欢开启 放肆HIGH购,2020-09-28,2020-09-28,120000,p147,郭旭,促活,search_02,轮播图,1元特价秒(支付邮费+1元，即可获得商品，每个用户id限购1件),NaN
2920,ACTIVE_025,928KKB会员日 狂欢开启 放肆HIGH购,2020-09-28,2020-09-28,120000,p148,郭旭,促活,search_02,轮播图,1元特价秒(支付邮费+1元，即可获得商品，每个用户id限购1件),NaN
2921,ACTIVE_025,928KKB会员日 狂欢开启 放肆HIGH购,2020-09-28,2020-09-28,120000,p149,郭旭,促活,search_02,轮播图,1元特价秒(支付邮费+1元，即可获得商品，每个用户id限购1件),NaN
2922,ACTIVE_025,928KKB会员日 狂欢开启 放肆HIGH购,2020-09-28,2020-09-28,120000,p150,郭旭,促活,search_02,轮播图,1元特价秒(支付邮费+1元，即可获得商品，每个用户id限购1件),NaN

In [39]:
kkb_promotion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2923 entries, 0 to 2922
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   prom_id          2923 non-null   object
 1   prom_name        2923 non-null   object
 2   start_date       2923 non-null   datetime64[ns]
 3   end_date         2923 non-null   datetime64[ns]
 4   ready_money      2923 non-null   int64
 5   sp_id            2923 non-null   object
 6   respon_name      2923 non-null   object
 7   prom_type        2923 non-null   object
 8   chann_id         2923 non-null   object
 9   place_position   2923 non-null   object
 10  discount_type    2923 non-null   object
 11  discount_amount  2368 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(8)
memory usage: 274.2+ KB

## 9、kkb_province_city 城市信息表

In [36]:
kkb_province_city =  pd.read_excel('./kkb_province_city.xlsx')

# 添加列索引
kkb_province_city.columns=['country','region','province','city','city_id','start_date','close_date','status']

kkb_province_city.head()

  country region province city   city_id start_date close_date status
0      中国     东北      黑龙江   安达  city0002 2016-08-08         --     开城
1      中国     东北      黑龙江  八面通  city0003 2016-08-08         --     开城
2      中国     东北      黑龙江   拜泉  city0004 2016-08-08         --     开城
3      中国     东北      黑龙江   宝山  city0005 2016-08-08         --     开城
4      中国     东北      黑龙江   大庆  city0006 2016-08-08         --     开城

In [40]:
kkb_province_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564 entries, 0 to 563
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     564 non-null    object
 1   region      564 non-null    object
 2   province    564 non-null    object
 3   city        564 non-null    object
 4   city_id     564 non-null    object
 5   start_date  564 non-null    datetime64[ns]
 6   close_date  564 non-null    object
 7   status      564 non-null    object
dtypes: datetime64[ns](1), object(7)
memory usage: 35.4+ KB